@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered {
  transform: translate(calc(50vw - 50%));
}

.drop {
  filter: drop-shadow(0px 4px 2px #0e0e0e81);
}

.nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  }